.Header{
    background: rgb(130, 160, 130);
    height: 10vh;
    padding: 1rem;
    align-items: center;
    display: flex;

}

.logo{
    width: 5rem;
    height: 5rem;
}

.headerName{
    font-size: 3rem;
    font-family: sans-serif;
    color:  white;
    font-weight: 500;
}

