.container{
    /* border: solid 1px red; */
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 5rem;
}


.frame{
    /* border: solid 1px red; */
    border-radius: 0.5rem;
    background-color: #CFCED4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digital-display{
    /* border: solid 1px green; */
    padding: 2rem;
    width: 25vw;
    height: 15vh;
    border-radius: 0.5rem ;
    background: #90AC84;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.upper,
.lower{
    padding : 1rem;
    text-align: start;
    font-size: 2rem;
    color: white;
}


.btn-pad{
    /* border: solid 1px red; */
    width: 25vw;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.controls-pad{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.control-btn{
    padding: 1rem;
    width: 30%;
    height: 50%;
}


.num-pad{
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.digit{
    padding: 1rem;
    width: 30%;
    height: 50%;
}

.add,
.substract,
.clear,
.equal{
    padding: 0.3rem;
    font-size: 2rem;
    font-weight: 600;
}